gym
torch
torchvision
#cudatoolkit==9.2 #not necessary in Colab
absl-py
pyparsing
pillow
termcolor
dm_control
tb-nightly
imageio
imageio-ffmpeg
torchvision
scikit-image
pyvirtualdisplay
piglet
dm_env
opencv-python